@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.botao {
  @apply flex justify-center items-center gap-2;
  @apply py-1 px-8 rounded-md;
}

.botao.azul {
  @apply bg-blue-500 text-white;
  @apply hover:bg-blue-600;
}

.botao.roxo {
  @apply bg-purple-500 text-white;
  @apply hover:bg-purple-600;
}

.botao.transparente {
  @apply bg-transparent border border-gray-600;
  @apply hover:bg-zinc-50;
}